<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Matrix Request</title>
    
    <!--Add CSS For Style-->
    <style>
        h3{
            color: white;
            text-align: center;
            text-transform: uppercase;
            background-color: black;
            padding: 5px;
            border: 2px solid black;
            border-radius: 5px;
        }

        #main{
            margin-left: 530px;
            margin-top: 250px;
        }
        </style>
</head>
<body>

    <h3>Enter The Matrix </h3>
    <div id = "main">
        <form action = "/process_request" , method = "post">
            <input type="text" name = "matrix" placeholder="Enter Matrix">
            <input type="submit"> 
        </form>
    </div>
    
</body>
</html>